<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>

<%= link_to "[new_icon]", new_home_path %>
<%= link_to "[Life_Game]", game_path %>
<% if not notice.nil? then %>
<p style="font-size: 50px; color: forestgreen;"><%= notice %></p>
<% end %>

<h2>登録Icon一覧（現在：<%= @icons.count%>件）</h2>
<% @icons.each_with_index do |icon, idx| %>
<p>
  <span onclick="js_alert()"><b>No. <%=  idx + 1 %></b></span><br>
  <span onclick="this.style.backgroundColor='yellow', this.style.color='gray'">
    Name: <%= icon.name %>
  </span><br>
  Introduction: <%= icon.introduction %>
</p>
<% end %>

<script>
  var count = 0;
  var unit;
  function js_alert() {
    count++
    switch ( count ) {
      case 1: unit = 'st'; break;
      case 2: unit = 'nd'; break;
      case 3: unit = 'rd'; break;
      default: unit = 'th'; break;
    }
    alert( count + unit + " times pushed!");
  }
</script>
