<h1>Homes#new</h1>
<p>Find me in app/views/homes/new.html.erb</p>

<h2>新規投稿（入力フォーム）</h2>
<% if @icon.errors.any? then %>
<h2><%= @icon.errors.count  %>件のエラーがあります。</h2>
<ul>
  <% @icon.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>


<%= form_for(@icon, url: homes_path) do |icon| %>
<span>　名前　:</span><%= icon.text_field :name %><br>
<span>　本文　:</span><%= icon.text_area :introduction %><br>
<%= icon.submit '[投稿] '%><br>
<% end %>
<%= form_for(@icon, url: homes_path) do |icon| %>
<%= icon.hidden_field :name, :value => random_strings(10) %>
<%= icon.hidden_field :introduction, value:random_strings(30) %><br>
<%= icon.submit '[適当な内容を投稿] '%>
<% end %>
<%= link_to ' [戻る]', homes_path %>
