<!DOCTYPE html>
<html>
<head>
  <title>Sample4</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <% flash.each do |key, value| %>
  <p><span style="font-size: 30px; color: forestgreen;" onclick="this.style.backgroundColor='palegreen'"><%= value %></span></p>
  <% end %>
</header>

<body>
  <%= yield %>
</body>

<footer>
</footer>
</html>
